<h1>All Articles</h1><br />

<p><i><%= link_to "See all tags", tags_path %></i></p><br />

<ul id="articles">
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article), class: "article_title" %>
		</li>
	<% end %>
</ul>

<%= link_to "Create a New Article", new_article_path, class: "new_article" %>